/*___________________________________________________

             Nextflow DSL2 Main Config

  Author(s): Sam Widmayer and Daniel Gatti
       Copyright of Jackson Laboratories 2022

_____________________________________________________*/

params {
    // Select workflow
    workflow = 'sample_qc_haplotype_reconstructions'

    // select config from config folder to use
    config = "config/${params.workflow}.config"

    // set publish directory for data to save (easier to follow)
    pubdir = "${projectDir}"
    
    // make a comment for log
    comment = ''
}

// specific config for the pipeline
includeConfig params.config

manifest {
    mainScript = "main.nf"
    nextflowVersion = "!>=20.10.0"
    version = "0.2.0"
}

report {
    enabled = true
    file = "${params.pubdir}/${params.workflow}_report.html"
    overwrite = true
}