//====================  Nextflow/Container Config  ==========

manifest {
    name = "SampleQC_Haplotype_Reconstruction"
    description = 'Pipeline for Performing Quality Checks and Haplotype Reconstruction on Genetically Diverse Mice'
    author = 'Sam Widmayer and Daniel Gatti, Copyright Jackson Laboratory 2024'
}

params {

  // Reference files for R/qtl2
  CCDOdataDir = '/projects/compsci/vmp/USERS/widmas/haplotype_reconstruction_qtl-nf/bin/CC_DO_data'
  CCDOconsensusGenos = '/projects/compsci/vmp/USERS/widmas/haplotype_reconstruction_qtl-nf/bin/CC_DO_data/GigaMUGA_founder_consensus_genotypes.csv'
  CCDOconsensusYgenos = '/projects/compsci/vmp/USERS/widmas/haplotype_reconstruction_qtl-nf/bin/CC_DO_data/GigaMUGA_founder_consensus_genotypes_Y.csv'
  CCDOconsensusMtgenos = '/projects/compsci/vmp/USERS/widmas/haplotype_reconstruction_qtl-nf/bin/CC_DO_data/GigaMUGA_founder_consensus_genotypes_Mt.csv'
  CCDOalleleCodes = '/projects/compsci/vmp/USERS/widmas/haplotype_reconstruction_qtl-nf/bin/CC_DO_data/GM_allelecodes.csv'

  // Reference files for sample QC
  gmAnn = '/projects/omics_share/mouse/GRCm39/supporting_files/muga_annotation/gigamuga/gm_uwisc_v4.csv'
  CCDOmeanXints = '/projects/compsci/vmp/USERS/widmas/haplotype_reconstruction_qtl-nf/bin/CC_DO_data/GigaMUGA_founder_mean_x_intensities.csv'
  CCDOmeanYints = '/projects/compsci/vmp/USERS/widmas/haplotype_reconstruction_qtl-nf/bin/CC_DO_data/GigaMUGA_founder_mean_y_intensities.csv'  

  // Baseline params for retaining sample
  max_pct_missing = 0.12

}

apptainer {
   enabled = true
   autoMounts = true
   cacheDir = 'singularity_cache'
 }

 process {
    executor = 'slurm'
    clusterOptions = {task.memory > 700.GB ? '-p compute' : '-p high_mem'}
    clusterOptions = {task.time < 72.h ? '-q batch' : '-q long'}
    module = 'slurm'
}

executor {
    $slurm {
        queueSize = 250
        // The number of tasks the executor will handle in a parallel manner
        submitRateLimit = '1 / 2 s'
        // Determines the max rate of job submission per time unit, for example '10sec' eg. max 10 jobs per second or '1/2 s' i.e. 1 job submissions every 2 seconds.
    }
}
